/SocketTCP/target/
/SocketTCPsm/nbproject/private/
/SocketTCPsm/build/
/SocketUDPsm/nbproject/private/
/SocketUDPsm/build/
/JuegoGuerritas/nbproject/private/
/Examen-1P/nbproject/private/
/Examen-1P/build/
/SumasJava/nbproject/private/
/CalculadoraJava/nbproject/private/
/CalculadoraJava/build/
/SumasJava/build/
/CotizadorJava/nbproject/private/
/ConsumirCotizacionJava/nbproject/private/
/CotizadorJava/build/
/ConsumirCotizacionJava/build/