<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OperacionesSoap" />
                <binding name="OperacionesPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49693/Operaciones.asmx" binding="basicHttpBinding"
                bindingConfiguration="OperacionesSoap" contract="operaciones.OperacionesSoap"
                name="OperacionesSoap" />
            <endpoint address="http://localhost:14076/CalculadoraJava/Operaciones"
                binding="basicHttpBinding" bindingConfiguration="OperacionesPortBinding"
                contract="OperacionesJava.Operaciones" name="OperacionesPort" />
        </client>
    </system.serviceModel>
</configuration>